a = int(input('Num : '))
b = int(input('Num : '))

print('حاصل ضرب')
print(a * b)

print('....................')

print('حاصل تقسيم')
print(a/b)

print('....................')

print('حاصل تفريق')
print(a - b)

print('....................')

print('حاصل جمع')
print(a + b)
